/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
body {
  padding-top: 68px;
  overflow-x: hidden; }

i {
  color: #00b2b7; }

section {
  padding: 85px 0; }

h1 {
  text-transform: uppercase; }

img {
  overflow: hidden; }

.material-icons {
  color: #fff; }

hr.style15 {
  border-top: 1px solid #CDCDCD;
  text-align: center;
  width: 40%; }

hr.style15:after {
  content: '\00271A';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #CDCDCD;
  font-size: 24px; }

@media (max-width: 768px) {
  .lg-only {
    display: none;
    visibility: hidden; } }

/*******************
	STYLE ASSETS
*******************/
.hero-img-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url(../assets/img/carousel-1.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.apply {
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  bottom: 0;
  width: 100%; }

.hero-card {
  background: rgba(0, 0, 0, 0.61);
  color: #fff; }

.icon {
  background: #756458;
  width: 100px;
  height: 100px; }

i.icon {
  line-height: 100px;
  color: #fff; }

#testimonials {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7)), url(../assets/img/newspaper.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  color: #fff; }
  #testimonials .blockquote-footer {
    color: rgba(255, 255, 255, 0.6); }

@media (max-width: 768px) {
  #testimonials {
    background-attachment: scroll; } }

#services {
  margin-top: -10px;
  background: #f8f9fa; }
  #services hr.style15:after {
    background: #f8f9fa; }

#veterans {
  color: #fff;
  background: #756458; }
  #veterans hr.style15:after {
    background: #756458; }

.team-text-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.header-img-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url(../assets/img/carousel-1.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh; }

#faqs {
  background: #f8f9fa; }
  #faqs hr.style15:after {
    background: #f8f9fa; }

.footer {
  background: #756458;
  padding: 0;
  color: #fff; }
  .footer p {
    margin-bottom: 0; }

.main-footer {
  padding: 40px 0; }
  .main-footer hr.style15:after {
    background: #756458; }

@media (max-width: 768px) {
  .main-footer {
    text-align: center; } }

.copyright {
  background-color: rgba(255, 255, 255, 0.5); }
